$max-width: 1200px;
$gutter: 20px;

$font-main: "Lora", "Times New Roman", serif;
$font-heading: "Roboto Mono", "Courier New", monospace;

$color1: #000;
$color2: #999;
$color3: #aaa;
$color4: #ccc;
$color5: #2d2;
$color6: #1a1;
$color7: #fcffd2;
$color8: #cc9694;

$font: 16px; //16 24 32 48
