@import "config";

.header__fyrirlestur {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding-top: 125px;
    padding-bottom: 125px;
  }

.main__fyrirlestur {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 10px;
  }
  
  h2{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 10px;
    font-size: 48;
  }

  .footer__fyrirlestur{
    display: flex;
    justify-content: center;
  }

  .finish__lecture__button{
    font-size: 16px;
    border: none;
    background-color: white;
  }

  .back__button{
    font-size: 16px;
    margin-top: $gutter;
    border: none;
    background-color: white; 
    
  }