@import "config";

.header__fyrirlestur {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding-top: 125px;
    padding-bottom: 125px;
  }

.main__fyrirlestur {
    margin: 0 auto;
    max-width: $max-width;
    padding-top: $gutter;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: $font;
    padding-top: $gutter/2;
  }

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: $font;
    padding-top: $gutter/2;
    font-size: 3*$font;
  }

  .footer__fyrirlestur {
    display: flex;
    justify-content: center;
  }

  .finish__lecture__button {
    font-size: $font;
    border: none;
    background-color: $color7;
  }

  .back__button {
    font-size: $font;
    margin-top: $gutter;
    border: none;
    background-color: $color7;
  }
