@import "config";

.header__index{
  background-image: url('../img/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 125px;
  padding-top: 125px;
  display: block;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding-top: 10px;
  font-size: 48px;
}

h2{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding-top: 10px;
}

.main__index {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttonlist{
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
}

.html__button{
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}

.css__button{
  margin-left: $gutter;
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}

.javascript__button{
  margin-left: $gutter;
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}
