@import "config";

.header__index {
  display: block;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding-top: 125px;
  padding-bottom: 125px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: $font;
  padding-top: $gutter/2;
  font-size: 3*$font;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: $font;
  padding-top: $gutter/2;
}

.main__index {
  margin: 0 auto;
  max-width: $max-width;
  padding-top: $gutter;
  padding-left: $gutter;
  padding-right: $gutter;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttonlist {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
}

.html__button {
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}

.css__button {
  margin-left: $gutter;
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}

.javascript__button {
  margin-left: $gutter;
  font-size: 24px;
  padding: 10px;
  border-radius: 17%;
}
